{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ColorGame</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="modal-overlay"></div>
    <!-- Welcome message -->
    <h1 class="welcome">Welcome. Have fun coloring figures</h1>
    <main>
        <!-- instructions -->
        <div class="instructions">
            <h2>instructions</h2>
            <p>Add figures to the board by dragging or clicking on them. Then, drag and drop a color over the desired shape to color it.
                You can also change the color of the board and see the effect.

            </p>
        </div>

        <!-- color input to user -->
        <div class="add-user-color">
            <h2>Add another color</h2>
            <input id="user-color"  type="color">
            <input id="submit" type="submit" value="add"> 
            <input id="remove" type="submit" value="revome"> 
            <input id="reset" type="submit" value="reset"> 
        </div>

        <!-- colors to drag and drop -->
        <div class="colors-container"></div>
        

        <!-- board to paint -->
        <div class="board-head">
            <button id="cleanbtn">Clean board</button>
        </div>
        
        <div class="board"></div>
        <!-- figures to drag and drop -->
        <div class="figure-leyend">
            <h2>Figures</h2>
            <h3>Choose the shape you wish</h3>
        </div>
        
        <div class="figures-container"></div>
    </main>
<script src="{% static 'js/script.js' %}" ></script>
</body>
</html>